@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
body{
    
  background-image: url(./img/sky.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
     
}
.container{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding: 10vh;
    letter-spacing:1rem
 
}

Input {

    border-radius: 5px;
}

#city {
    background-color: orangered;
    border-radius: 2rem;
    padding: 1px 4px;
}

